/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.toggle-btn {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-btn:hover {
    color: #ddd;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Escondido inicialmente */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 999;
}

.sidebar.open {
    left: 0; /* Visível */
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Conteúdo principal */
.about_content {
    margin: 80px 20px; /* Ajusta para navbar fixa */
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.github_photo {
    border-radius: 25%;
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
    text-align: justify;
    color: #ffffff;
    font-size: large;    
}

.about_content ul {
    text-align: justify;
    margin: 20px auto;
    max-width: 600px;
    padding: 4%;
    list-style-type: style upper-alpha;
}

.about_content li {
    font-size: large;
}

.about_content h2 {
    color: #dbd6d6;
    margin-bottom: 20px;
    font: x-large;
}
