/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: rgb(41, 40, 40);
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.toggle-btn {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-btn:hover {
    color: #ddd;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente fora da tela */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 60px; /* Ajusta para não cobrir a navbar */
    transition: left 0.3s ease;
    z-index: 999;
}

.sidebar.open {
    left: 0; /* Sidebar visível */
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Descrição */
.description {
    margin-top: 100px; /* Ajuste para a altura da navbar */
    padding: 20px;
    text-align: center;
    font-size: large;
    text-align: center;
}

.user_description{
    text-align: center;
    font-size: x-large;
    text-align: justify;
}

.photo {
    border-radius: 50%;
    padding: 5%;
    width: 10%;
}
