<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyctor Fogos da Rocha - Backend Developer</title>
    <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
    <div class="sidebar">
        <a href="../views/index.html">Home</a><br>
        <a href="../views/about.html">About</a><br>
        <a href="#projects">Projects</a><br>
        <a href="../views/contact.html">Contact</a><br>
    </div>
    
    <div class="about_content">
        <h1>Contact</h1>
        <h2>There are some ways to contact me</h2>

        <section>
            <h2> 📫 How to contact me </h2>
            <ul>
                <li> 📧 Email: wyctor.fogos@gmail.com | wyctor.fogos@hotmail.com | wyctor.rocha@edu.ufes.br </li>
                <li> 🔗 LinkedIn: <a href="https://www.linkedin.com/in/wyctor-fogos-da-rocha-2426b1174"> Wyctor Fogos </a> </li>
            </ul>
        </section>
    </div>
</body>
</html>
