<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="description">
        <img class="photo" src="../../data/images/foto_perfil_linkedin.jpeg" alt="Wyctor Fogos da Rocha">
        <h1>
            Wyctor Fogos da Rocha
        </h1>
        <p id="user_description">A person with experience in Data Analysis, Data Science, Back-End Development, Tech Consulting, Electrical Engineering and FreeLancer.</p>    </div>

    <div class="sidebar">
        <a href="#home"> Home </a></br>
        <a href="#about"> About </a></br>
        <a href="#projects"> Projects</a></br>
        <a href="#contact"> Contact</a></br>
    </div>

</body>
