<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="description">
        <img class="photo" src="../../data/images/foto_perfil_linkedin.jpeg" alt="Wyctor Fogos da Rocha">
        <h1>
            Wyctor Fogos da Rocha
        </h1>
        <p id="user_description">A person with experience in Data Analysis, Data Science, Back-End Development, Tech Consulting, Electrical Engineering and FreeLancer.</p>    </div>

        <div class="sidebar">
            <a href="../views/index.html">Home</a><br>
            <a href="../views/about.html">About</a><br>
            <a href="../views/professional_expirience.html"> Professional Expirience</a></br>
            <a href="../views/projects.html">Projects</a><br>
            <a href="../views/contact.html">Contact</a><br>
        </div>
    </div>

</body>
