<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyctor Fogos da Rocha - Backend Developer</title>
    <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
    <div class="sidebar">
        <a href="../views/index.html">Home</a><br>
        <a href="../views/about.html">About</a><br>
        <a href="../views/professional_expirience.html"> Professional Experience</a></br>
        <a href="../views/projects.html">Projects</a><br>
        <a href="../views/contact.html">Contact</a><br>
    </div>
    
    <div class="about_content">
        <h1>Professional Experience</h1>
        <section>
            <h2> My Professional Background </h2>
            <ul>
                <div class="card_expirience" id="1">
                    <li> Back End Developer | Data Scientist | Data Analyst </li>
                    <h3> Start ID | Engenharia & Inteligência </h3>
                    <h5> Sep 2023 - Oct 2024 - 1 year 3 months </h5>
                    <h5> Vitória, Espírito Santo, Brazil </h5></br>
                </div>
                <div class="card_expirience" id="2">
                    <li> Junior Software Engineer </li>
                    <h3> MESHNODES </h3>
                    <h5> Dec 2022 - Jun 2023 - 1 year 3 months </h5>
                    <h5> Vitória, Espírito Santo, Brazil </h5></br>
                </div>
                <div class="card_expirience" id="3">
                    <li> Internship </li>
                    <h3> Université Sorbonne Paris Nord </h3>
                    <h5> Apr 2022 - Sep 2022 6 months </h5>
                    <h5> Villetaneuse, Île-de-France, France </h5></br>
                </div>
                <div class="card_expirience" id="4">
                    <li> Scientific initiation researcher student </li>
                    <h3> Ifes - Instituto Federal do Espírito Santo </h3>
                    <h5> Sep 2019 - Sep 2020 1 year 1 month </h5>
                    <h5> Vitória, Espírito Santo, Brazil </h5></br>
                </div>
            </ul>
        </section>
    </div>
</body>
</html>
