<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyctor Fogos da Rocha - Backend Developer</title>
    <link rel="stylesheet" href="../styles/about.css">
</head>
</body>
    <section>
        <h2>💻 Projetos em Destaque</h2>
        <ul>
            <li>
                <a href="https://atenaeditora.com.br/catalogo/ebook/analise-de-sistemas-introducao-ao-funcionamento-de-sistemas" target="_blank">
                    Análise de sistemas: introdução ao funcionamento de sistemas
                </a>: Fundamentos da Análise de Sistemas, desde a definição de sistema até a importância da modelagem e da documentação.
            </li>
            <li>
                <a href="https://atenaeditora.com.br/catalogo/ebook/introducao-ao-planejamento-e-controle-da-producao-conceitos-e-ferramentas" target="_blank">
                    Introdução ao planejamento e controle da produção: conceitos e ferramentas
                </a>: Material de apoio para a disciplina de Planejamento e Controle da Produção no curso técnico de Logística.
            </li>
            <li>
                <a href="https://ieeexplore.ieee.org/document/10459929" target="_blank">
                    Uso de IA na construção civil
                </a>: Paper sobre detecção de anomalias em estruturas civis utilizando modelos de Machine Learning.
            </li>
            <li>
                <a href="https://www.atenaeditora.com.br/catalogo/ebook/gestao-de-estoques" target="_blank">
                    Gestão de Estoques
                </a>: Abordagem inovadora para otimização de estoques.
            </li>
            <li>
                <a href="https://repositorio.ifes.edu.br/handle/123456789/3734" target="_blank">
                    Uso de IA na Indústria Brasileira
                </a>: Revisão bibliográfica focada na aplicação de IA na indústria brasileira.
            </li>
            <li>
                <a href="https://doi.org/10.1016/j.artmed.2023.102612" target="_blank">
                    Diagnóstico e Reabilitação com Realidade Virtual
                </a>: Sistema de VR para diagnóstico e reabilitação de amputados de membros inferiores.
            </li>
            <li>
                <a href="https://doi.org/10.1109/ICECCME52200.2021.9590936" target="_blank">
                    The use of Convolutional Neural Network and StarRGB technique for gait movements recognition in remote physiotherapy
                </a>: Uso da técnica StarRGB para classificar movimentos em fisioterapia remota.
            </li>
            <li>
                <a href="https://sodebras.com.br/edicoes/N163.pdf" target="_blank">
                    SISTEMA AUTOMÁTICO DE CONTROLE DE ILUMINAÇÃO BASEADO EM SENSORES DE PRESENÇA E BLUETOOTH
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h2>🛠️ Habilidades Técnicas</h2>
        <ul>
            <li><strong>Linguagens de Programação:</strong> Python, C++, JavaScript.</li>
            <li><strong>Ferramentas de Machine Learning:</strong> Machine Learning, Visão Computacional, Deep Learning, Automação, Selenium, TensorFlow, OpenCV, PyTorch, MLFlow.</li>
            <li><strong>DevOps:</strong> Docker, Nginx.</li>
            <li><strong>Backend Development:</strong> NodeJS, Express, FastAPI, gRPC, RabbitMQ, KAFKA.</li>
            <li><strong>Banco de Dados:</strong> SQL, MySQL, PostgreSQL, MongoDB, Redis.</li>
            <li><strong>Visão Computacional:</strong> OpenCV, matplotlib, PIL.</li>
            <li><strong>Análise de Dados:</strong> PowerBI, Pandas, Sklearn.</li>
        </ul>
    </section>

    <section>
        <h2>📫 Como me Contatar</h2>
        <p>📧 Email: <a href="mailto:wyctor.fogos@gmail.com">wyctor.fogos@gmail.com</a></p>
        <p>🔗 LinkedIn: <a href="https://linkedin.com/in/wyctor-fogos-da-rocha-2426b1174" target="_blank">Wyctor Fogos da Rocha</a></p>
    </section>

</body>
</html>
