<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyctor Fogos da Rocha - Backend Developer</title>
    <link rel="stylesheet" href="../styles/projects.css">
</head>
<body>
    <div class="sidebar">
        <a href="../views/index.html">Home</a><br>
        <a href="../views/about.html">About</a><br>
        <a href="../views/projects.html">Projects</a><br>
        <a href="../views/contact.html">Contact</a><br>
    </div>
    
    <div class="projects_content">
        <h1> Projects </h1>
        <section>
            <h2>💻 Featured Projects</h2>
            <ul>
                <li>
                    <strong>System Analysis: Introduction to System Functioning</strong>
                    <p>Fundamentals of System Analysis. We explore the basic principles of system analysis, from the definition of a system to the importance of modeling and documentation.</p>
                </li></br>
                <li>
                    <strong>Introduction to Production Planning and Control: Concepts and Tools</strong>
                    <p> A support material for the discipline of Production Planning and Control for the technical course in Logistics, serving as a guide for classroom activities.</p>
                </li></br>
                <li>
                    <strong>Use of AI in Civil Construction</strong>
                    <p> Paper - Detection of Anomalies in Civil Structures Using Machine Learning Models: Benchmark Study.</p>
                </li></br>
                <li>
                    <strong>Inventory Management</strong> 
                    <p> An innovative approach to inventory optimization.</p>
                </li></br>
                <li>
                    <strong>Use of AI in the Brazilian Industry</strong>
                    <p> Literature review focused on the application of AI in the Brazilian industry.</p>
                </li></br>
                <li>
                    <strong>Diagnosis and Rehabilitation with Virtual Reality</strong>
                    <p> VR system for diagnosing and rehabilitating lower limb amputees.</p>
                </li></br>
                <li>
                    <strong>The use of Convolutional Neural Network and StarRGB technique for gait movements recognition in remote physiotherapy</strong>
                    <p> Using the StarRGB technique to condense spatial-temporal information to classify movements of amputees.</p>
                </li></br>
                <li>
                    <strong>AUTOMATIC LIGHT CONTROL SYSTEM BASED ON PRESENCE SENSORS AND BLUETOOTH</strong>
                </li></br>
            </ul>
        </section>
        
    </div>
</body>
</html>
