<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyctor Fogos da Rocha - Backend Developer</title>
    <link rel="stylesheet" href="/src/styles/about.css">
</head>
<body>
    <div class="sidebar">
        <a href="/src/views/index.html">Home</a><br>
        <a href="/src/views/about.html">About</a><br>
        <a href="/src/views/professional_expirience.html"> Professional Expirience</a></br>
        <a href="/src/views/projects.html">Projects</a><br>
        <a href="/src/views/contact.html">Contact</a><br>
    </div>
    
    <div class="about_content">
        <h1>Hi! 👋</h1>
        <img class="github_photo" src="../../data/images/github_picture.jpeg" alt="Wyctor Fogos da Rocha">
        <h2>My name is Wyctor Fogos da Rocha, a Backend Developer passionate about Technology and Innovation</h2>

        <section>
            <h2>🌟 About Me</h2>
            <ul>
                <li>🚀 Passionate about solving complex problems through technology</li>
                <li>🎓 Especialization in data science - Master 2, Traitement de l'information et Exploration des Données - Télécom SudParis - France </li>
                <li>🎓 Degree in Electrical Engineering with a focus on Data Science</li>
                <li>🧠 Developed skills in Machine Learning, Computer Vision, and Deep Learning</li>
            </ul>
        </section>
    </div>
</body>
</html>
